APP_NAME="Safentra Tax"
APP_VERSION=1.1
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=fbr_digital_invoice
DB_USERNAME=fbr
DB_PASSWORD=secret

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=redis

CACHE_STORE=redis

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

FBR_ENV=sandbox
FBR_SANDBOX_BASE_URL=https://gw.fbr.gov.pk
FBR_PRODUCTION_BASE_URL=https://gw.fbr.gov.pk
FBR_SECURITY_TOKEN=
FBR_VERIFY_URL=http://localhost/invoices/verify
FBR_VALIDATE_ENDPOINT=/di_data/v1/di/validateinvoicedata_sb
FBR_SUBMIT_ENDPOINT=/di_data/v1/di/postinvoicedata_sb
FBR_PRODUCTION_VALIDATE_ENDPOINT=/di_data/v1/di/validateinvoicedata
FBR_PRODUCTION_SUBMIT_ENDPOINT=/di_data/v1/di/postinvoicedata
FBR_ENDPOINT_PROVINCES=/pdi/v1/provinces
FBR_ENDPOINT_DOCUMENT_TYPES=/pdi/v1/doctypecode
FBR_ENDPOINT_ITEM_CODES=/pdi/v1/itemdesccode
FBR_ENDPOINT_SRO_ITEM_IDS=/pdi/v1/sroitemcode
FBR_ENDPOINT_TRANSACTION_TYPES=/pdi/v1/transtypecode
FBR_ENDPOINT_UOMS=/pdi/v1/uom
FBR_ENDPOINT_SRO_SCHEDULES=/pdi/v1/SroSchedule
FBR_ENDPOINT_RATE_IDS=/pdi/v2/SaleTypeToRate
FBR_ENDPOINT_HS_CODES=/pdi/v2/HS_UOM
FBR_ENDPOINT_SRO_ITEMS=/pdi/v2/SROItem
FBR_ENDPOINT_ST_ATL=/dist/v1/statl
FBR_ENDPOINT_REGISTRATION_TYPE=/dist/v1/Get_Reg_Type
FBR_MOCK_ALLOWED_SCENARIOS=SN001,SN002
FBR_MOCK_ALLOWED_SALE_TYPES="Goods at standard rate,Goods at standard rate (default)"

VITE_APP_NAME="${APP_NAME}"
